html {
  box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: aliceblue;
}

button.cell {
  height: 150px;
  font-size: 6rem;
  
}
button.cell:hover {

}

#header {
  display: grid;
justify-items: center;
background-color: aliceblue;
}

#gameboard {
  display: grid;
  gap: 10px;
  justify-content: center;
  padding: 1rem;
  background-color: aliceblue;
}

.row {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  gap: 10px;
}

#bottom {
  display: grid;
  justify-content: center;
  grid-template-columns: 150px 150px 150px;
  gap: 10px;
  background-color: aliceblue;
}